<div class="container">
  <div class="gallery">
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/xCMfWdqF/slider-6.png"
        alt="Slider Image"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-5.jpg"
        alt="Slider Image"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-4.png"
        alt="Slider Image"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/dtB1sD6b/slider-3.png"
        alt="Slider Image"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-2.png"
        alt="Slider Image"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-1.png"
        alt="Slider Image"
      />
    </div>
  </div>
  <br />
  <div class="gallery">
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/xCMfWdqF/slider-6.png"
        alt="Slider Image"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-5.jpg"
        alt="Slider Image"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-4.png"
        alt="Slider Image"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/dtB1sD6b/slider-3.png"
        alt="Slider Image"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-2.png"
        alt="Slider Image"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-1.png"
        alt="Slider Image"
      />
    </div>
  </div>
</div>
