<div class="container">
  <div class="gallery">
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/Dw5tQ3kp/BANNER-GOLDEN-HEART.jpg"
        alt="Slider Image"
      />
    </div>
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/zXrM9GqP/banner-principal-paracas-bomber.jpg"
        alt="Slider Image"
      />
    </div>
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/8kHBzphY/BANNER-SET-NATURAL-ALPACA200.jpg"
        alt="Slider Image"
      />
    </div>
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/Dw5tQ3kp/BANNER-GOLDEN-HEART.jpg"
        alt="Slider Image"
      />
    </div>
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/yYpm0LpX/BANNER-SET-ROJO-ALPACA200.png"
        alt="Slider Image"
      />
    </div>
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/x1kK5LWr/GRAFITO-SET-OK-BANNER200.png"
        alt="Slider Image"
      />
    </div>
  </div>
  <br />
  <div class="gallery">
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/xCMfWdqF/slider-6.png"
        alt="Slider Image"
      />
    </div>
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/dtB1sD6b/slider-3.png"
        alt="Slider Image"
      />
    </div>
  </div>
  <br />
  <div class="gallery">
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/Dw5tQ3kp/BANNER-GOLDEN-HEART.jpg"
        alt="Slider Image"
      />
    </div>
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/zXrM9GqP/banner-principal-paracas-bomber.jpg"
        alt="Slider Image"
      />
    </div>
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/8kHBzphY/BANNER-SET-NATURAL-ALPACA200.jpg"
        alt="Slider Image"
      />
    </div>
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/Dw5tQ3kp/BANNER-GOLDEN-HEART.jpg"
        alt="Slider Image"
      />
    </div>
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/yYpm0LpX/BANNER-SET-ROJO-ALPACA200.png"
        alt="Slider Image"
      />
    </div>
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/x1kK5LWr/GRAFITO-SET-OK-BANNER200.png"
        alt="Slider Image"
      />
    </div>
  </div>
</div>
