<div class="container">
  <div class="gallery">
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/xCMfWdqF/slider-6.png"
        alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-5.jpg"
        alt="sunset behind San Francisco city skyline"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-4.png"
        alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/dtB1sD6b/slider-3.png"
        alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-2.png"
        alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-1.png"
        alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp"
      />
    </div>
  </div>
  <br />
  <div class="gallery">
    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/xCMfWdqF/slider-6.png"
        alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-5.jpg"
        alt="sunset behind San Francisco city skyline"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-4.png"
        alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="https://i.postimg.cc/dtB1sD6b/slider-3.png"
        alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-2.png"
        alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA"
      />
    </div>

    <div class="gallery-item">
      <img
        class="gallery-image"
        src="assets/img/slider-1.png"
        alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp"
      />
    </div>
  </div>
</div>
