<div class="no-desktop">
  <div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <h1 class="display-4">{{ "about.bannerPhrase.phrase" | translate }}</h1>
      <p class="lead">
        {{ "about.bannerPhrase.lead" | translate }}
      </p>
    </div>
  </div>
</div>

<div class="parallax"></div>

<div class="no-mobile">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ "about.bannerPhrase.phrase" | translate }}</h1>
      <p class="lead">
        {{ "about.bannerPhrase.lead" | translate }}
      </p>
    </div>
  </div>
</div>
