<div
  id="carouselExampleInterval"
  class="carousel slide car-main"
  data-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000">
      <img
        src="https://i.postimg.cc/Dw5tQ3kp/BANNER-GOLDEN-HEART.jpg"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-interval="4000">
      <img
        src="https://i.postimg.cc/sXqb8Bfw/BANNER-PRINCIPAL-BOMBER-TUQOISE.jpg"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-interval="4000">
      <img
        src="https://i.postimg.cc/qqrxz01p/BANNER-PRINCIPAL-ILARI-KIMONO.jpg"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div>
    <!-- <div class="carousel-item" data-interval="4000">
      <img
        src="https://i.postimg.cc/909sjWrV/BANNER-PRINCIPAL-PUKA-SET.jpg"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div> -->
    <div class="carousel-item" data-interval="4000">
      <img
        src="https://i.postimg.cc/pV72bT1N/BANNER-SET-ROJO-ALPACA200.png"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-interval="4000">
      <img
        src="https://i.postimg.cc/x1kK5LWr/GRAFITO-SET-OK-BANNER200.png"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-interval="4000">
      <img
        src="https://i.postimg.cc/nLbmDvN3/banner-ninas.jpg"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-interval="4000">
      <img
        src="https://i.postimg.cc/28gbsQjC/banner-ninos.jpg"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div>
    <!-- <div class="carousel-item" data-interval="4000">
      <img
        src="https://i.postimg.cc/8CnYJFvN/BANNER-PRINCIPAL-VINICUNCA-TUNIC.jpg"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div> -->
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleInterval"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleInterval"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>

<div class="text-center py-3">
  <a class="banner-btn" routerLink="gallery">{{
    "principal.botones.calluno" | translate
  }}</a>
</div>
