<div
  id="carouselExampleInterval"
  class="carousel slide car-main"
  data-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000">
      <img
        src="https://i.postimg.cc/Dw5tQ3kp/BANNER-GOLDEN-HEART.jpg"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-interval="4000">
      <img
        src="https://i.postimg.cc/zXrM9GqP/banner-principal-paracas-bomber.jpg"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-interval="4000">
      <img
        src="https://i.postimg.cc/8kHBzphY/BANNER-SET-NATURAL-ALPACA200.jpg"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-interval="4000">
      <img
        src="https://i.postimg.cc/yYpm0LpX/BANNER-SET-ROJO-ALPACA200.png"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-interval="4000">
      <img
        src="https://i.postimg.cc/x1kK5LWr/GRAFITO-SET-OK-BANNER200.png"
        class="d-block w-100 item-slider"
        alt="..."
      />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleInterval"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleInterval"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>

<div class="text-center py-3">
  <a class="banner-btn">{{ "principal.botones.calluno" | translate }}</a>
</div>
