//breakpoints
$large-dektop: 1440px;
$medium-dektop: 1024px;
$tablet: 768px;
$large-mobile: 425px;
$medium-mobile: 375px;
$small-mobile: 320px;

.item-slider {
  // height: 660px;
  @media screen and (min-width: $small-mobile) {
    height: 250px;
  }
  @media screen and (min-width: $tablet) {
    height: 350px;
  }
  @media screen and (min-width: $medium-dektop) {
    height: 620px;
  }
  @media screen and (min-width: $large-dektop) {
    height: 680px;
  }
}

.banner-btn {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  &:hover {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
  }
}

.car-main {
  @media screen and (min-width: $small-mobile) {
    padding: 0;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
