//breakpoints
$large-dektop: 1440px;
$medium-dektop: 1024px;
$tablet: 768px;
$large-mobile: 425px;
$medium-mobile: 375px;
$small-mobile: 320px;

//colors
$main-roxanlo: #dacc99;
$secondary-roxanlo: #c3bcab;
$black-main: #000000;

.flag-icon {
  width: 30px;
}
