<div class="desktop-contenedor">
  <div class="mobile-contenedor">
    <div class="mobile-menu">
      <label for="menu-toggle" class="text-center">
        <i class="fas fa-bars"></i>
      </label>
      <input type="checkbox" id="menu-toggle" />
      <ul id="menu" class="text-center">
        <li>
          <a class="font-details" [routerLink]="['']">
            {{ "principal.menu.itemuno" | translate }}
          </a>
        </li>
        <li>
          <a class="font-details" [routerLink]="['/about']">
            {{ "principal.menu.itemdos" | translate }}
          </a>
        </li>
        <li>
          <a class="font-details" [routerLink]="['gallery']">
            {{ "principal.menu.itemtres" | translate }}
          </a>
          <ul class="drop">
            <div>
              <li>Elemento1</li>
              <li>Elemento1</li>
              <li>Elemento1</li>
              <li>Elemento1</li>
              <li>Elemento1</li>
              <li>Elemento1</li>
            </div>
          </ul>
        </li>
        <li>
          <a class="font-details" [routerLink]="['contact']">
            {{ "principal.menu.itemcuatro" | translate }}
          </a>
        </li>
      </ul>
    </div>
    <div class="mobile-logo">
      <img src="assets/img/logo.png" alt="" class="logo-config" />
    </div>
  </div>
  <div class="desktop-logo">
    <img src="assets/img/logo.png" alt="" class="logo-config" />
  </div>
  <div class="desktop-languages-flag">
    <div
      [ngClass]="{ active: activeLang == 'es' }"
      (click)="cambiarLenguaje('es')"
    >
      <img
        src="assets/img/peruvian_flag.png"
        alt=""
        class="desktop-flag-icon"
      />
    </div>
    <div
      [ngClass]="{ active: activeLang == 'en' }"
      (click)="cambiarLenguaje('en')"
    >
      <img
        src="assets/img/american_flag.png"
        alt=""
        class="desktop-flag-icon"
      />
    </div>
  </div>
</div>

<!-- menu en desktop -->
<nav class="supermenu">
  <ul id="main">
    <li>
      <a class="font-details" [routerLink]="['']">
        {{ "principal.menu.itemuno" | translate }}
      </a>
    </li>
    <li>
      <a class="font-details" [routerLink]="['/about']">
        {{ "principal.menu.itemdos" | translate }}
      </a>
    </li>
    <li>
      <a class="font-details" [routerLink]="['gallery']">
        {{ "principal.menu.itemtres" | translate }}
      </a>
      <ul class="drop">
        <div>
          <li>Elemento1</li>
          <li>Elemento1</li>
          <li>Elemento1</li>
          <li>Elemento1</li>
          <li>Elemento1</li>
          <li>Elemento1</li>
        </div>
      </ul>
    </li>
    <li>
      <a class="font-details" [routerLink]="['contact']">
        {{ "principal.menu.itemcuatro" | translate }}
      </a>
    </li>
    <div id="marker"></div>
  </ul>
</nav>
<div class="desktop-contenedor">
  <hr class="separador" />
</div>
