<div class="mobile-contenedor">
  <div class="mobile-menu">
    <nav class="navbar navbar-expand-lg navbar-light gabo-navbar">
      <a class="navbar-brand" href="#">
        <div class="brand-mobile">
          <a class="brand-mobile-item" [routerLink]="['']">
            ROXANLO
          </a>
        </div>
      </a>

      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon icon-mobile"></span>
      </button>

      <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link font-details" [routerLink]="['']">
              {{ "principal.menu.itemuno" | translate }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link font-details" [routerLink]="['/about']">
              {{ "principal.menu.itemdos" | translate }}
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle font-details"
              [routerLink]="['/gallery']"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ "principal.menu.itemtres" | translate }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item font-details" href="#">{{
                "principal.menu.subMenu.first" | translate
              }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item font-details" href="#">{{
                "principal.menu.subMenu.second" | translate
              }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item font-details" href="#">{{
                "principal.menu.subMenu.third" | translate
              }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item font-details" href="#">{{
                "principal.menu.subMenu.fourth" | translate
              }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item font-details" href="#">{{
                "principal.menu.subMenu.fifth" | translate
              }}</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link font-details" [routerLink]="['/contact']">
              {{ "principal.menu.itemcuatro" | translate }}
            </a>
          </li>
          <li class="nav-item">
            <div class="d-flex justify-content-start align-items-start">
              <span
                [ngClass]="{ active: activeLang == 'es' }"
                (click)="cambiarLenguaje('es')"
              >
                <span class="idioma">ES</span>
              </span>

              <span
                [ngClass]="{ active: activeLang == 'en' }"
                (click)="cambiarLenguaje('en')"
              >
                <span class="idioma">EN</span>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="desktop-contenedor">
  <div class="desktop-logo">
    <img src="assets/img/logo.png" alt="" class="logo-config" />
  </div>
  <div class="desktop-languages-flag">
    <span
      [ngClass]="{ active: activeLang == 'es' }"
      (click)="cambiarLenguaje('es')"
    >
      <span class="idioma">ES</span>
    </span>
    <span class="separator">
      |
    </span>
    <span
      [ngClass]="{ active: activeLang == 'en' }"
      (click)="cambiarLenguaje('en')"
    >
      <span class="idioma">EN</span>
    </span>
  </div>
</div>

<!-- menu en desktop -->
<nav class="supermenu">
  <ul id="main">
    <li>
      <a class="font-details" [routerLink]="['']">
        {{ "principal.menu.itemuno" | translate }}
      </a>
    </li>
    <li>
      <a class="font-details" [routerLink]="['/about']">
        {{ "principal.menu.itemdos" | translate }}
      </a>
    </li>
    <li>
      <a class="font-details" [routerLink]="['/gallery']">
        {{ "principal.menu.itemtres" | translate }}
      </a>
      <ul class="drop">
        <div>
          <li>{{ "principal.menu.subMenu.first" | translate }}</li>
          <li>{{ "principal.menu.subMenu.second" | translate }}</li>
          <li>{{ "principal.menu.subMenu.third" | translate }}</li>
          <li>{{ "principal.menu.subMenu.fourth" | translate }}</li>
          <li>{{ "principal.menu.subMenu.fifth" | translate }}</li>
        </div>
      </ul>
    </li>
    <li>
      <a class="font-details" [routerLink]="['/contact']">
        {{ "principal.menu.itemcuatro" | translate }}
      </a>
    </li>
    <div id="marker"></div>
  </ul>
</nav>
<div class="desktop-contenedor">
  <hr class="separador" />
</div>
