<div class="general-fondo my-5">
  <div class="banner-title underline pt-4">
    {{ "principal.slider.titleSlider" | translate }}
  </div>
  <section>
    <div class="container">
      <div class="carousel">
        <input type="radio" name="slides" checked="checked" id="slide-1" />
        <input type="radio" name="slides" id="slide-2" />
        <input type="radio" name="slides" id="slide-3" />
        <input type="radio" name="slides" id="slide-4" />
        <input type="radio" name="slides" id="slide-5" />
        <input type="radio" name="slides" id="slide-6" />
        <ul class="carousel__slides">
          <li class="carousel__slide">
            <figure>
              <div>
                <img
                  src="https://i.postimg.cc/Dw5tQ3kp/BANNER-GOLDEN-HEART.jpg"
                  alt=""
                />
              </div>
              <figcaption>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <span class="credit">Colección: Moda Mujer 2020</span>
              </figcaption>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img
                  src="https://i.postimg.cc/zXrM9GqP/banner-principal-paracas-bomber.jpg"
                  alt=""
                />
              </div>
              <figcaption>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <span class="credit">Colección: Moda Niño 2020</span>
              </figcaption>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img
                  src="https://i.postimg.cc/8kHBzphY/BANNER-SET-NATURAL-ALPACA200.jpg"
                  alt=""
                />
              </div>
              <figcaption>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <span class="credit">Colección: Moda Niña 2020</span>
              </figcaption>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img
                  src="https://i.postimg.cc/yYpm0LpX/BANNER-SET-ROJO-ALPACA200.png"
                  alt=""
                />
              </div>
              <figcaption>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <span class="credit">Colección: Nuevos Productos 2020</span>
              </figcaption>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img
                  src="https://i.postimg.cc/x1kK5LWr/GRAFITO-SET-OK-BANNER200.png"
                  alt=""
                />
              </div>
              <figcaption>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <span class="credit">Colección: Exclusivos 2020</span>
              </figcaption>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="https://picsum.photos/id/1052/800/450" alt="" />
              </div>
              <figcaption>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <span class="credit">Colección: Productos Únicos</span>
              </figcaption>
            </figure>
          </li>
        </ul>
        <ul class="carousel__thumbnails">
          <li>
            <label for="slide-1"
              ><img
                src="https://i.postimg.cc/Dw5tQ3kp/BANNER-GOLDEN-HEART.jpg"
                alt=""
            /></label>
          </li>
          <li>
            <label for="slide-2"
              ><img
                src="https://i.postimg.cc/zXrM9GqP/banner-principal-paracas-bomber.jpg"
                alt=""
            /></label>
          </li>
          <li>
            <label for="slide-3"
              ><img
                src="https://i.postimg.cc/8kHBzphY/BANNER-SET-NATURAL-ALPACA200.jpg"
                alt=""
            /></label>
          </li>
          <li>
            <label for="slide-4"
              ><img
                src="https://i.postimg.cc/yYpm0LpX/BANNER-SET-ROJO-ALPACA200.png"
                alt=""
            /></label>
          </li>
          <li>
            <label for="slide-5"
              ><img
                src="https://i.postimg.cc/x1kK5LWr/GRAFITO-SET-OK-BANNER200.png"
                alt=""
            /></label>
          </li>
          <li>
            <label for="slide-6"
              ><img src="https://picsum.photos/id/1052/150/150" alt=""
            /></label>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
