<div class="fondo-fin">
  <div class="container py-4 ">
    <div class="row">
      <div class="col-md-6 text-center">
        <ul class="footer-options">
          <li class="list-footer-options">
            {{ "principal.fin.connect" | translate }}
          </li>
          <li class="list-footer-options">
            {{ "principal.fin.out" | translate }}
          </li>
          <li class="list-footer-options">
            {{ "principal.fin.security" | translate }}
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <app-social></app-social>
      </div>
    </div>
  </div>
</div>
