<div class="general-fondo mt-5 pb-5">
  <div class="underline">
    {{ "principal.hero.presentation" | translate }}
  </div>
  <div class="row pt-5">
    <div class="col-md-6">
      <img
        src="https://i.postimg.cc/BnGJv2sG/accesorio.jpg"
        alt=""
        class="w-100"
        style="height: 450px"
      />
    </div>
    <div class="col-md-6">
      <img
        src="https://i.postimg.cc/9Q8bXY5x/gorros.jpg"
        alt=""
        class="w-100"
      />
      <!-- <div class="line-decorator">&nbsp;</div> -->
      <!-- <div class="line-decorator-mobile">&nbsp;</div> -->
    </div>
  </div>
</div>
