<div class="general-fondo mt-5 pb-5">
  <div class="underline">
    {{ "principal.hero.presentation" | translate }}
  </div>
  <div class="row pt-5">
    <div class="col-md-6">
      <img
        src="https://i.postimg.cc/pV72bT1N/BANNER-SET-ROJO-ALPACA200.png"
        alt=""
        class="w-100"
      />
    </div>
    <div class="col-md-6">
      <img
        src="https://i.postimg.cc/909sjWrV/BANNER-PRINCIPAL-PUKA-SET.jpg"
        alt=""
        class="w-100"
      />
      <!-- <div class="line-decorator">&nbsp;</div> -->
      <!-- <div class="line-decorator-mobile">&nbsp;</div> -->
    </div>
  </div>
</div>
