//breakpoints
$large-dektop: 1440px;
$medium-dektop: 1024px;
$tablet: 768px;
$large-mobile: 425px;
$medium-mobile: 375px;
$small-mobile: 320px;

.mega-title {
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  @media screen and (min-width: $small-mobile) {
    font-size: 20px;
  }
  @media screen and (min-width: $tablet) {
    font-size: 28px;
  }
}

.banner-btn {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  &:hover {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
  }
}
.underline {
  text-decoration: none;
  position: relative;
  text-align: center;
  @media screen and (min-width: $small-mobile) {
    font-size: 24px;
  }
  @media screen and (min-width: $tablet) {
    font-size: 30px;
  }
}

.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -4px;

  /******
  optional values below
  ******/

  /* center - (optional) use with adjusting width   */
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 10%;
  background: #000000;

  /* optional animation */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* optional hover classes used with anmiation */
.underline:hover:after {
  width: 18%;
  background: #000000;
}
