<app-supertext></app-supertext>
<div class="container">
  <div class="mega-title underline">
    {{ "about.textBanner.values" | translate }}
  </div>
  <div class="row pb-5 pt-5 px-2 text-center d-flex justify-content-around">
    <ul>
      {{
        "about.valuesList.firstValue" | translate
      }}
    </ul>
    <ul>
      {{
        "about.valuesList.secondValue" | translate
      }}
    </ul>
    <ul>
      {{
        "about.valuesList.thirdValue" | translate
      }}
    </ul>
    <ul>
      {{
        "about.valuesList.fourthValue" | translate
      }}
    </ul>
    <ul class="mobile-addaptation">
      {{
        "about.valuesList.fifthValue" | translate
      }}
    </ul>
  </div>
  <div class="mega-title underline">
    {{ "about.textBanner.title" | translate }}
  </div>
  <div class="row pb-5 pt-3 d-flex justify-content-around">
    <div class="col-md-4 pb-5 pt-3 d-flex justify-content-center text-center">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://i.postimg.cc/Dw5tQ3kp/BANNER-GOLDEN-HEART.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">
            {{ "about.cards.firstCard" | translate }}
          </h5>
          <p class="card-text">
            {{ "about.cardText.firstCardText" | translate }}
          </p>
          <a [routerLink]="['/gallery']" class="banner-btn font-weight-bold">
            {{ "about.buttonCall.text" | translate }}
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4  pb-5 pt-3  d-flex justify-content-center text-center">
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="https://i.postimg.cc/8kHBzphY/BANNER-SET-NATURAL-ALPACA200.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">
            {{ "about.cards.secondCard" | translate }}
          </h5>
          <p class="card-text">
            {{ "about.cardText.secondCardText" | translate }}
          </p>
          <a [routerLink]="['/contact']" class="banner-btn font-weight-bold">
            {{ "about.buttonCall.text" | translate }}
          </a>
        </div>
      </div>
    </div> -->
    <div class="col-md-4 pb-5 pt-3 d-flex justify-content-center text-center">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://i.postimg.cc/x1kK5LWr/GRAFITO-SET-OK-BANNER200.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">
            {{ "about.cards.thirdCard" | translate }}
          </h5>
          <p class="card-text">
            {{ "about.cardText.thirdCardText" | translate }}
          </p>
          <a [routerLink]="['/gallery']" class="banner-btn font-weight-bold">
            {{ "about.buttonCall.text" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <app-collapse></app-collapse>
</div>
