//breakpoints
$large-dektop: 1440px;
$medium-dektop: 1024px;
$tablet: 768px;
$large-mobile: 425px;
$medium-mobile: 375px;
$small-mobile: 320px;

.mega-title {
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  @media screen and (min-width: $small-mobile) {
    font-size: 20px;
  }
  @media screen and (min-width: $tablet) {
    font-size: 28px;
  }
}

.banner-btn {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  &:hover {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
  }
}
