<div class="container py-5 my-5">
  <div class="row d-flex justify-content-center">
    <form action="https://formspree.io/mjvrkdwn" method="POST">
      <div class="group">
        <input type="text" name="_replyto" required />
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{ "contact.form.mail" | translate }}</label>
      </div>

      <div class="group">
        <input type="text" name="Email" required />
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{ "contact.form.name" | translate }}</label>
      </div>
      <div class="group">
        <textarea name="message" id="" cols="30" rows="3"></textarea>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{ "contact.form.message" | translate }}</label>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="banner-btn">
          {{ "contact.form.button" | translate }}
        </button>
      </div>
    </form>
  </div>
  <div class="row show-tablet">
    <img src="assets/img/contacto.jpg" alt="" />
  </div>
</div>

<!-- <label for="attending" style="display: none;">
          {{ "contact.form.country" | translate }}
          <select name="attending" id="attending" class="inputSelect">
            <option *ngFor="let pais of paises" value="{pais.name}">{{
              pais.name
            }}</option>
          </select>
        </label> -->
