<form action="https://formspree.io/mjvrkdwn" method="POST">
  <label>
    {{ "contact.form.mail" | translate }}
    <input type="text" name="_replyto" />
  </label>
  <label>
    {{ "contact.form.phone" | translate }}
    <input type="number" name="number" required />
  </label>
  <label for="attending">
    {{ "contact.form.country" | translate }}
  </label>
  <select name="attending" id="attending">
    <option *ngFor="let pais of paises" value="{pais.name}">{{
      pais.name
    }}</option>
  </select>
  <label>
    {{ "contact.form.message" | translate }}
    <textarea name="message" required></textarea>
  </label>
  <button type="submit">Send</button>
</form>
