<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form action="https://formspree.io/mjvrkdwn" method="POST">
        <label>
          {{ "contact.form.mail" | translate }}
          <input type="text" name="_replyto" required class="inputText" />
        </label>
        <label>
          {{ "contact.form.phone" | translate }}
          <input type="number" name="number" required class="inputText" />
        </label>
        <label for="attending">
          {{ "contact.form.country" | translate }}
        </label>
        <select name="attending" id="attending">
          <option *ngFor="let pais of paises" value="{pais.name}">{{
            pais.name
          }}</option>
        </select>
        <label>
          {{ "contact.form.message" | translate }}
          <textarea name="message" required class="inputText"></textarea>
        </label>
        <button type="submit">Send</button>
      </form>
    </div>
    <div class="col-md-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.971807596225!2d-77.0346622845387!3d-12.114081491422418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8160ef9df35%3A0xd31507ac8837ceed!2sCalle%20Independencia%20587%2C%20Miraflores%2015074!5e0!3m2!1sen!2spe!4v1582769738765!5m2!1sen!2spe"
        width="400"
        height="450"
        frameborder="0"
        style="border:0;"
        allowfullscreen=""
      ></iframe>
    </div>
  </div>
</div>
