//breakpoints
$large-dektop: 1440px;
$medium-dektop: 1024px;
$tablet: 768px;
$large-mobile: 425px;
$medium-mobile: 375px;
$small-mobile: 320px;

//colors
$main-roxanlo: #dacc99;
$secondary-roxanlo: #c3bcab;
$black-main: #000000;
$main-decorator: #f6f6f6;
$white: #ffffff;

.inputText {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000000;
  &:hover {
    box-shadow: $main-roxanlo;
  }
}

.googleMap {
  @media screen and(min-width:$small-mobile) {
    width: 292px;
  }
  @media screen and(min-width:$medium-mobile) {
    width: 345px;
  }
  @media screen and(min-width:$large-mobile) {
    width: 395px;
  }
  @media screen and(min-width:$tablet) {
    width: 400px;
  }
  @media screen and(min-width:$medium-dektop) {
    width: 450px;
  }
  @media screen and(min-width:$large-dektop) {
    width: 530px;
  }
}
* {
  box-sizing: border-box;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid $black-main;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: $main-roxanlo;
}

textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid $black-main;
}

textarea:focus {
  outline: none;
}

textarea:focus ~ label,
textarea:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: $main-roxanlo;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: $main-roxanlo;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

textarea:focus ~ .bar:before,
textarea:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

textarea:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.show-tablet {
  display: none;
  @media screen and(min-width:$tablet) {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
}

.banner-btn {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  background-color: transparent;
  &:hover {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
  }
}
