//breakpoints
$large-dektop: 1440px;
$medium-dektop: 1024px;
$tablet: 768px;
$large-mobile: 425px;
$medium-mobile: 375px;
$small-mobile: 320px;

//colors
$main-roxanlo: #dacc99;
$secondary-roxanlo: #c3bcab;
$black-main: #000000;
$main-decorator: #f6f6f6;
$white: #ffffff;

.inputText {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000000;
  &:hover {
    box-shadow: $main-roxanlo;
  }
}
