<div class="collapsed-title mb-5 underline">
  {{ "about.collapseText.megaCollapseTitle" | translate }}
</div>
<div class="accordion pb-5" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-light"
          type="button"
          style="text-decoration:underline"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          {{ "about.collapseTitle.collapseTitleOne" | translate }}
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        {{ "about.collapseText.collapseTextOne" | translate }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-light collapsed"
          type="button"
          style="text-decoration:underline"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          {{ "about.collapseTitle.collapseTitleTwo" | translate }}
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        {{ "about.collapseText.collapseTextTwo" | translate }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-light collapsed"
          type="button"
          data-toggle="collapse"
          style="text-decoration:underline"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          {{ "about.collapseTitle.collapseTitleThree" | translate }}
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        {{ "about.collapseText.collapseTextThree" | translate }}
      </div>
    </div>
  </div>
</div>
