//breakpoints
$large-dektop: 1440px;
$medium-dektop: 1024px;
$tablet: 768px;
$large-mobile: 425px;
$medium-mobile: 375px;
$small-mobile: 320px;

//colors
$main-roxanlo: #dacc99;
$secondary-roxanlo: #c3bcab;
$black-main: #000000;
$main-decorator: #f6f6f6;
$white: #ffffff;

.collapsed-title {
  font-size: 28px;
  text-align: center;
}

// .underline {
//   text-decoration: none;
//   position: relative;
//   text-align: center;
//   @media screen and (min-width: $small-mobile) {
//     font-size: 24px;
//   }
//   @media screen and (min-width: $tablet) {
//     font-size: 30px;
//   }
// }

// .underline:after {
//   position: absolute;
//   content: "";
//   height: 2px;
//   /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
//   bottom: -4px;

//   /******
//   optional values below
//   ******/

//   /* center - (optional) use with adjusting width   */
//   margin: 0 auto;
//   left: 0;
//   right: 0;
//   width: 6%;
//   background: #000000;

//   /* optional animation */
//   -o-transition: 0.5s;
//   -ms-transition: 0.5s;
//   -moz-transition: 0.5s;
//   -webkit-transition: 0.5s;
//   transition: 0.5s;
// }

// /* optional hover classes used with anmiation */
// .underline:hover:after {
//   width: 15%;
//   background: #000000;
// }
